:root {
    --heading-font: 'Source Serif 4', serif;
    --color: #3A5F56;
    --secondary-color: #292C32;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 136px;
}

.header__container {
    height: 70px;
    background: #FFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {
    background: #F4F3F0;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    overflow: hidden;
}

.hero-info {
    width: 552px;
}

.hero-info__heading {
    color: var(--color);
    font-family: var(--heading-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 57.6px;
    margin-bottom: 11px;
    margin-right: 75px;
}

.hero-info__text {
    color: var(--secondary-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    margin-right: 18px;
    margin-bottom: 17px;
}

.main-btn {
    border-radius: 6px;
    background: var(--color);
    padding: 10px 18px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    text-decoration: none;
}

.hero-image {
    width: 552px;
    height: 773px;
    flex-shrink: 0;
}

.red-box {
    width: 723px;
    height: 813px;
    flex-shrink: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(184, 125, 88, 0.80) 0%, rgba(184, 125, 88, 0.00) 100%);

    position: absolute;
    left: -222px;
    bottom: -442px;
}

.green-box {
    width: 564px;
    height: 494px;
    flex-shrink: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.55) 0%, rgba(58, 95, 86, 0.00) 100%);

    position: absolute;
    right: -100px;
    top: -100px;
}

@media only all and (max-width: 992px) {
    .container {
        padding: 0 36px;
    }
    
    .hero__container {
        flex-direction: column-reverse;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hero-info {
        text-align: center;
    }

    .hero-info__heading {
        margin-right: 0;
    }

    .hero-image {
        max-width: 100%;
        height: auto;
    }

   

}